/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 800px;
  height: 50px;
  background-color: #333333;
  border-radius: 25px;

  font-family: Montserrat-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background-color: #00ad5f;
}

.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}





.title {
    background-color: #ebe9e9;
	font-family: Arial, Helvetica, sans-serif;
    color: #444;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.title2 {
    background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
    color: #444;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}
a:hover {
	text-decoration: none;
}
.p-0{
	padding:0px;
}
.p-01{
	padding-left:0px;
}
.p-02{
	padding-right:0px;
}
@media (max-width:991px){
.p-01{
	padding:0px;
}
.p-02{
	padding:0px;
}
}
.p-011{
	padding-left:0px;
}
.p-022{
	padding-right:0px;
}
/***Page1****/
.left-iner{
	position:relative;
	clear:both;
	border:2px solid #000;
	float:left;
	border-radius:10px;
	padding:10px;
	width:100%;
	margin:15px 0px;
}
.left-iner h1{
	padding:0px 0px 10px 0px;
	text-align:left;
	color:#000;
	font-size:18px;
	font-weight:700;
}
.row-ful{
	position:relative;
	clear:both;
	line-height:40px;
	width:100%;
	float:left;
}
.left-iner label{
	display:inline-block;
	color:#000;
	font-size:15px;
	line-height:normal;
	font-weight:500;
	text-align:left;
	padding:0px;
	margin-bottom:10px;
}
label.center_label{
	text-align:center;
	width:100%;
}
label.mbil_labl{
	vertical-align:baseline;
	display:inline-block;
	height:40px;
}
.left-iner input{
	display:inline-block;
	margin-bottom:10px;
	vertical-align:middle;
	width:100%;
	border:2px solid #000;
	height:40px;
	color:#000;
	font-size:15px;
	font-weight:400;
}
input.des_one{
	height:75px;
}
input.des_two{
	height:275px;
}
input.des_three{
	height:150px;
}
.left-iner input[type=checkbox].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.left-iner input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 23px;
	height: 18px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	font-weight:400;
	vertical-align: middle;
	cursor: pointer;
}
.left-iner input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -18px;
}
.left-iner label.css-label {
	background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_70bb481e71ca5a6beb8ce3a46de3ab1e.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.label_one{
	margin-top:-30px;
}
.label_two{
	margin-left:20px;
	display:inline-block;
	vertical-align:middle;
}
.label_three{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	width:100%;
}
@media (max-width:767px){
.cler-mb{
	clear:both;
}
}

/****Table****/
.table-area{
	position:relative;
	border:1px solid #000;
	float:left;
	width:100%;
}
.table-row{
	position:relative;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
}
.table-lable{
	position:relative;
	clear:both;
	padding:5px;
}
.table-lable label{
	text-align:center;
	color:#000;
	font-size:18px;
	font-weight:500;
	padding:0px;
	margin:0px;
	width:100%;
}
.table-row input{
	width:100%;
	background:none;
	outline:none;
	border:none;
	color:#000;
	text-align:center;
	text-indent:10px;
	font-size:15px;
	height:50px;
}
.right-bor{
	border-right:none;
}

@media (max-width:1140px){
.left-iner h1{
	font-size:15px;
}
.left-iner label{
	font-size:12px;
}
}
@media (max-width:991px){

.label_one{
	margin-top:0px;
}
}